z.date() generates incorrect type

Given: `z.date()`
Result:
```
{
  "type": "string",
  "format": "date"
}
```
It's incorrect. According to [OpenAPI](https://swagger.io/docs/specification/v3_0/data-models/data-types/#strings) 
> date – full-date notation as defined by [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6), for example, 2017-07-21

Since JS dates include time, too, the resulting type should be:
```
{
  "type": "string",
  "format": "date-time"
}
```
> date-time – the date-time notation as defined by [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6), for example, 2017-07-21T17:32:28Z

Currently, this causes inconsistent schema generation. For example, Orval treats `"format": "date"` as `string.date()` that doesn't accept time, and that is guaranteed by the OpenAPI schema.

I guess this could be fixed by changing the following type to `date-time`, but I'm not sure if it would not break anything else
https://github.com/asteasolutions/zod-to-openapi/blob/be536b7128925842c1d41e7ab4fb10e034e71a6e/src/transformers/date.ts#L7

Playground:
https://zod-playground.vercel.app?appdata=N4IgzgxgFgpgtgQxALhAHQHaYF4DoD2ARgFYwQAuAFMJgAS0wAeADmeTACbK14cLuUAlABo6DFm04BGbnjDkATgEsMAcyG4%2BAwZgC%2BgkMJAA3BABsArjDAoA2iBoZ69JqwqduGGAHdaAEX4YSjQQACYABlCAVgBaKSkY6IAVcKjkaORwqVxw3IAtEJExFwl3DhlaEIjouITk1PS0rJz8kL0QAF0jYxgFMCV8DBQQABZcbKkAZkMQJTA8-A4AWRUlFAAzczAYXSA